body {
  background-color: coral;
}
#row1 {
   
    background-color: #a04168;
    margin: 2rem;
    padding: 2rem;
  }

  img {
    margin: 1rem;
    height: 13rem;
    border-radius: 15%;
  }
  textarea {
      
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: both;
  }
  .card {
      margin: 1rem;
      background-color: rgb(69, 143, 143);
  }

